services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: dashboard-app
    container_name: ClintUX
    restart: unless-stopped
    working_dir: /var/www
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - dashboard-network

networks:
  dashboard-network:
    driver: bridge
